@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/text-styles";

.radio {
  $block-name: &; // #{$block-name}__element

  position: relative;
  display: flex;
  gap: 8px;
  justify-self: start;

  &__input {
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 0;
  }

  &__fake-input {
    @include flex-center;

    width: 16px;
    height: 16px;
    background: var(--back-primary);
    border: 1px solid var(--border-button);
    border-radius: 8px;
    cursor: pointer;

    &::after {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      transition: background 0.125s ease;
      content: "";
    }
  }

  &__input:checked + &__fake-input::after {
    background: var(--brand-primary);
  }

  &__input[disabled] + &__fake-input {
    border: 1px solid var(--border-button-disabled);
    cursor: not-allowed;
  }

  &__input[disabled]:checked + &__fake-input {
    border: 1px solid var(--border-button-disabled);
    cursor: not-allowed;
  }

  &__input[disabled]:checked + &__fake-input::after {
    background: var(--brand-primary-light);
  }

  &__label {
    @include checkbox-label;

    cursor: pointer;
    user-select: none;
  }

  &__input[disabled] ~ &__label {
    color: var(--front-tertiary);
    cursor: not-allowed;
  }
}
