mixin pagination
  .pagination.js-pagination
    .pagination__inner
      button.pagination__btn.pagination__btn--first.js-pagination-first first
      .pagination__btns-wrapper.js-pagination-btns-wrapper
        span.pagination__btn.pagination__btn--dots ...
        button.pagination__btn.js-pagination-btn 11
        button.pagination__btn.js-pagination-btn.pagination__btn--active 12
        button.pagination__btn.js-pagination-btn 13
        button.pagination__btn.js-pagination-btn 14
        button.pagination__btn.js-pagination-btn 15
        span.pagination__btn.pagination__btn--dots ...
      button.pagination__btn.pagination__btn--last.js-pagination-last last
