mixin pagination
  .pagination.js-pagination
    .pagination__inner
      button.pagination__button-first.js-pagination-first first
      .pagination__buttons-wrapper.js-pagination-buttons-wrapper
        span.pagination__dots ...
        button.pagination__button.js-pagination-button 11
        button.pagination__button.js-pagination-button.pagination__button--active 12
        button.pagination__button.js-pagination-button 13
        button.pagination__button.js-pagination-button 14
        button.pagination__button.js-pagination-button 15
        span.pagination__dots ...
      button.pagination__button-last.js-pagination-last last
