@import "../../scss/breakpoints";

/* stylelint-disable */

.pagination {
  margin-bottom: 32px;

  @media screen and (min-width: $screen-tl) {
    grid-area: pagination;
    margin-bottom: 72px;
  }

  &__inner {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    grid-template-areas:
      "btns btns"
      "first last";
    gap: 8px;
    justify-items: center;
    padding: 8px;
    background-color: var(--monochrome-800);
    border-radius: 16px;

    @media screen and (min-width: $screen-tl) {
      display: flex;
      grid-template: auto / repeat(3, auto);
      grid-template-areas: "first btns last";
      margin: 0 auto;
    }
  }

  &__btn {
    @include pagination;

    width: 100%;
    min-width: 32px;
    padding: 8px 4px;
    background-color: var(--monochrome-600);
    border-top: 1px solid var(--monochrome-500);
    border-radius: 8px;

    @media screen and (min-width: $screen-tl) {
      width: auto;
      min-width: 40px;
    }

    @media (hover: hover) {
      &:not(.pagination__btn--active, .pagination__btn--large):hover {
        padding: 4px 8px 3px;
        background-color: var(--monochrome-600);
        border: 1px solid var(--color-blue-300);
      }
    }

    &--active {
      background-color: var(--monochrome-500);
      pointer-events: none;
    }

    &--large {
      padding: 8px;

      @media screen and (min-width: $screen-tl) {
        padding: 8px 16px;
      }

      @media (hover: hover) {
        &:hover {
          padding: 8px 8px 7px;
          background-color: var(--monochrome-600);
          border: 1px solid var(--color-blue-300);
        }
      }

      @media (hover: hover) and (min-width: $screen-tl) {
        &:hover {
          padding: 8px 15px 7px !important;
        }
      }
    }

    &--first {
      grid-area: first;
    }

    &--last {
      grid-area: last;
    }

    &--dots {
      background-color: inherit;
      border-top: none;
      pointer-events: none;
    }
  }

  &__btns-wrapper {
    display: flex;
    grid-area: btns;
    gap: 8px;
  }
  $block-name: &; // #{$block-name}__element
}
