@import "../../scss/breakpoints";
@import "../../scss/mixins/page-button.scss";

.pagination {
  $block-name: &; // #{$block-name}__element

  @media screen and (min-width: $screen-tl) {
    grid-area: pagination;
  }

  &__inner {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    grid-template-areas:
      "buttons buttons"
      "first last";
    gap: 8px;
    justify-items: center;
    padding: 8px;
    background-color: var(--monochrome-800);
    border-radius: 16px;

    @media screen and (min-width: $screen-tl) {
      display: flex;
      grid-template: auto / repeat(3, auto);
      grid-template-areas: "first buttons last";
      margin: 0 auto;
    }
  }

  &__button {
    @include pagination;
    @include page-button();

    width: 100%;
    min-width: 32px;
    padding: 8px 4px;

    @media screen and (min-width: $screen-tl) {
      width: auto;
      min-width: 40px;
    }

    @media (hover: hover) {
      &:not(#{$block-name}__button--active):hover {
        @include page-button-hover;
      }
    }

    &--active {
      @include page-button-active;
    }
  }

  &__button-first {
    @include pagination;
    @include page-button();

    grid-area: first;
    width: 100%;
    padding: 8px;

    @media screen and (min-width: $screen-tl) {
      padding: 8px 16px;
    }
  }

  &__button-last {
    @include pagination;
    @include page-button();

    grid-area: last;
    width: 100%;
    padding: 8px;

    @media screen and (min-width: $screen-tl) {
      padding: 8px 16px;
    }
  }

  &__dots {
    @include page-button();

    width: 100%;
    min-width: 32px;
    padding: 8px 4px;
    text-align: center;
    background-color: inherit;
    border-top: none;
    pointer-events: none;
  }

  &__buttons-wrapper {
    display: flex;
    grid-area: buttons;
    gap: 8px;
  }
  $block-name: &; // #{$block-name}__element
}
