//- Все примеси в этом файле должны начинаться c имени блока (pagination)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin pagination(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +pagination('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' pagination--' + modsList[i].trim();
      }
    }

  .pagination(class=allMods)&attributes(attributes)
    .pagination__inner
      button.pagination__btn.pagination__btn-first
      button.pagination__btn.pagination__btn-dots ...
      button.pagination__btn 11
      button.pagination__btn.pagination__btn--active 12
      button.pagination__btn 13
      button.pagination__btn 14
      button.pagination__btn 15
      button.pagination__btn.pagination__btn-dots ...
      button.pagination__btn.pagination__btn-last

