@import "fluid";

@mixin title {
  font-size: fluid(16, 32, 320, 1680);
  line-height: 125%;
  letter-spacing: 0.32px;
}

@mixin title-desktop {
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.64px;
}

@mixin title-num {
  font-size: 8px;
  line-height: 100%;
}

@mixin title-num-desktop {
  font-size: 12px;
  line-height: 120%;
}

@mixin title-data {
  font-size: fluid(8, 16, 320, 1680);
  line-height: 100%;
  letter-spacing: 0.4px;

  @media screen and (min-width: $screen-dxl) {
    font-size: 16px;
    letter-spacing: 0.8px;
  }
}

@mixin title-data-desktop {
  font-size: 16px;
  letter-spacing: 0.8px;
}

@mixin tab-title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
}

@mixin type-title {
  font-size: 14px;
  line-height: 115%;
  letter-spacing: 0.42px;
}

@mixin tile-title-mobile {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.32px;
}

@mixin tile-title-desktop {
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.64px;
}

@mixin type-amount {
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.2px;
}

@mixin pagination {
  font-size: 10px;
  line-height: 133%;
  letter-spacing: 0.2px;

  @media screen and (min-width: $screen-t) {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: normal;
  }
}

@mixin field {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: normal;
}
