@import "../../scss/breakpoints";

.container {
  max-width: 100vw;
  margin: 0 16px;

  @media screen and (min-width: $screen-t) {
    margin: 0 40px;
  }

  @media screen and (min-width: $screen-d) {
    box-sizing: content-box;
    width: 100%;
    max-width: var(--max-container-width);
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
  }
}
