@import "../../scss/breakpoints";

.container {
  max-width: 1488px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: $screen-t) {
    padding: 0 40px;
  }

  @media screen and (min-width: $screen-d) {
    box-sizing: content-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 120px;
  }
}
