@import "../../scss/breakpoints";

.container {
  max-width: 1136px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: $screen-t) {
    padding: 0 40px;
  }

  @media screen and (min-width: $screen-dl) {
    width: 100%;
    margin: 0;
    padding: 0 112px;
  }
}
