mixin skeleton-card
  .skeleton-card
      .skeleton-card__miniature
      .skeleton-card__row
        .skeleton-card__features
          .skeleton-card__feature
          .skeleton-card__feature
          .skeleton-card__feature
          .skeleton-card__feature
