mixin skeleton-card
  .skeleton-card(class=allMods)&attributes(attributes)
      .skeleton-card__miniature

      .skeleton-card__row

      if isFight
        .skeleton-card__features
          .skeleton-card__feature
          .skeleton-card__feature
          .skeleton-card__feature
          .skeleton-card__feature

        .skeleton-card__feature.skeleton-card__feature--full-width
        .skeleton-card__feature.skeleton-card__feature--full-width

      else
        .skeleton-card__features
          .skeleton-card__feature
          .skeleton-card__feature
          .skeleton-card__feature
          .skeleton-card__feature
