@import "../../scss/mixins/blocks";
@import "../../scss/mixins/flexbox";

@keyframes dot-typing {
  0% {
    box-shadow:
      9984px 0 0 0 var(--monochrome-100),
      9999px 0 0 0 var(--monochrome-100),
      10014px 0 0 0 var(--monochrome-100);
  }

  16.667% {
    box-shadow:
      9984px -10px 0 0 var(--monochrome-100),
      9999px 0 0 0 var(--monochrome-100),
      10014px 0 0 0 var(--monochrome-100);
  }

  33.333% {
    box-shadow:
      9984px 0 0 0 var(--monochrome-100),
      9999px 0 0 0 var(--monochrome-100),
      10014px 0 0 0 var(--monochrome-100);
  }

  50% {
    box-shadow:
      9984px 0 0 0 var(--monochrome-100),
      9999px -10px 0 0 var(--monochrome-100),
      10014px 0 0 0 var(--monochrome-100);
  }

  66.667% {
    box-shadow:
      9984px 0 0 0 var(--monochrome-100),
      9999px 0 0 0 var(--monochrome-100),
      10014px 0 0 0 var(--monochrome-100);
  }

  83.333% {
    box-shadow:
      9984px 0 0 0 var(--monochrome-100),
      9999px 0 0 0 var(--monochrome-100),
      10014px -10px 0 0 var(--monochrome-100);
  }

  100% {
    box-shadow:
      9984px 0 0 0 var(--monochrome-100),
      9999px 0 0 0 var(--monochrome-100),
      10014px 0 0 0 var(--monochrome-100);
  }
}

.loader {
  &__inner {
    @include box(8px);

    position: relative;
    left: -9999px;
    display: flex;
    gap: 3px;
    color: var(--monochrome-100);
    background-color: var(--monochrome-100);
    border-radius: 50%;
    box-shadow:
      9984px 0 0 0 var(--monochrome-100),
      9999px 0 0 0 var(--monochrome-100),
      10014px 0 0 0 var(--monochrome-100);
    animation: dot-typing 1.5s infinite linear;
  }
  $block-name: &; // #{$block-name}__element
}
