@import "../../scss/mixins/text-styles";

.textarea {
  $block-name: &; // #{$block-name}__element

  @include textarea;

  min-height: 80px;
  padding: 15px 19px;
  background: var(--back-primary);
  border: 1px solid var(--border-button);
  border-radius: 4px;
  outline: none;
  transition: border 0.25s ease-out;
  appearance: none;
  resize: none;

  &::placeholder {
    color: var(--front-secondary);
  }

  &--has-value,
  &:focus {
    border: 1px solid var(--brand-primary);
  }

  &[disabled] {
    color: var(--front-tertiary);
    border-color: var(--border-button-disabled);
    cursor: not-allowed;

    &::placeholder {
      color: var(--front-tertiary);
    }
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border: 1px solid var(--border-button);
    -webkit-text-fill-color: var(--back-primary);
    -webkit-box-shadow: none;
  }
}
