@import "../../scss/mixins/blocks";
@import "../../scss/breakpoints";

.filter-btn {
  @include box(48px);

  position: fixed;
  bottom: 24px;
  left: 12px;
  z-index: var(--z-index-filter-btn);
  padding: 12px;
  background-color: var(--monochrome-700-transparent);
  border: 1px solid var(--color-blue-300);
  border-radius: 50%;
  backdrop-filter: blur(4px);

  @media screen and (min-width: $screen-tl) {
    display: none;
  }

  &__icon {
    @include box(24px);
  }
}
