@import "../../scss/mixins/text-styles";
@import "../../scss/mixins/flexbox.scss";
@import "../../scss/mixins/page-button.scss";
@import "../../scss/breakpoints";

.tabs {
  $block-name: &; // #{$block-name}__element
  &__wrapper {
    padding: 12px 0;

    @media screen and (min-width: $screen-d) {
      padding: 80px 0 32px;
    }
  }

  &__labels {
    display: flex;
    gap: 8px;
    padding: 8px;
    background-color: var(--monochrome-800);
    border-radius: 16px;

    @media screen and (min-width: $screen-d) {
      border-radius: 24px;
    }
  }

  &__label {
    @include flex-center;
    @include tab-title;
    @include page-button(16px);
    @include tab-title;

    position: relative;
    width: 100%;
    padding: 7px 16px 8px;

    @media screen and (min-width: $screen-d) {
      padding: 15px 16px 16px;
      border-radius: 16px;
    }

    @media (hover: hover) {
      &:not(#{$block-name}__label--active):hover {
        @include page-button-hover--tab;
      }
    }

    &:active,
    &--active {
      @include page-button-active;
    }
  }

  &__panes {
    position: relative;
    display: flex;
    padding-top: var(--mobile-header-height);

    @media screen and (min-width: $screen-d) {
      padding-top: 0;
    }
  }

  &__pane {
    display: none;
    pointer-events: none;

    &--active {
      display: block;
      width: 100%;
      pointer-events: auto;
    }
  }
}
