@import "../../scss/mixins/text-styles";
@import "../../scss/mixins/flexbox.scss";
@import "../../scss/breakpoints";

.tabs {
  $block-name: &; // #{$block-name}__element

  &__wrapper {
    position: fixed;
    right: 0;
    left: 0;
    z-index: var(--z-index-mobile-header);
    padding: 12px 16px;
    background-color: var(--monochrome-700-blur);

    @media screen and (min-width: $screen-d) {
      position: static;
      padding: 80px 0 32px;
    }
  }

  &__labels {
    display: flex;
    gap: 8px;
    padding: 8px;
    background-color: var(--monochrome-800);
    border-radius: 16px;
  }

  &__label {
    @include flex-center;
    @include tab-title;

    position: relative;
    width: calc(50% - 4px);
    padding: 8px 16px;
    border-top: var(--buttons-border-top);
    border-radius: 8px;
    cursor: pointer;

    @media screen and (min-width: $screen-d) {
      padding: 16px;
    }

    &--active {
      background-color: var(--tab-hover-color);
      cursor: default;
    }
  }

  &__panes {
    position: relative;
    display: flex;
    padding-top: var(--mobile-header-height);

    @media screen and (min-width: $screen-d) {
      padding-top: 0;
    }
  }

  &__pane {
    display: none;
    pointer-events: none;

    &--active {
      display: block;
      width: 100%;
      pointer-events: auto;
    }
  }
}
