@import "../../scss/mixins/text-styles";

.tabs {
  $block-name: &; // #{$block-name}__element

  &__labels {
    display: flex;
  }

  &__label {
    @include tabs-label;

    position: relative;
    cursor: pointer;
    transition: padding 0.25s ease;

    &--active {
      z-index: 3;
      cursor: default;
    }
  }

  &__panes {
    display: flex;
  }

  &__pane {
    &--active {
      display: flex;
    }
  }
}
