mixin skeleton-fighter
  .skeleton-fighter
      .skeleton-fighter__miniature
      .skeleton-fighter__row
      .skeleton-fighter__features
        .skeleton-fighter__feature
        .skeleton-fighter__feature
        .skeleton-fighter__feature
        .skeleton-fighter__feature
        .skeleton-fighter__feature
        .skeleton-fighter__feature
        .skeleton-fighter__feature.skeleton-fighter__feature--full-width
        .skeleton-fighter__feature.skeleton-fighter__feature--full-width
