@import "../../scss/mixins/text-styles";
@import "../../scss/mixins/flexbox";

.search-field {
  $block-name: &; // #{$block-name}__element

  &__input {
    padding: 16px 16px 16px 56px;
    background-color: var(--monochrome-700);
    border-bottom: 1px solid var(--monochrome-500);
    border-radius: 16px;
  }

  &__message {
    @include field;

    display: none;
    margin-top: 4px;
    color: var(--color-warning);

    #{$block-name}__input:invalid + & {
      display: block;
    }
  }
}
