mixin search-field(placeholder, index)
  .search-field
    label.search-field__inner
      input.search-field__input.js-search-input(type='text', placeholder=placeholder, data-index= index)&attributes(attributes)
    .search-field__results.js-search-results
      .search-field__results-loader.js-search-loader.hide
        +loader
      .search-field__results-container.js-search-results-container.hide
