@import "../../scss/mixins/text-styles";
@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/blocks";

.search-field {
  $block-name: &; // #{$block-name}__element

  position: relative;

  .highlight {
    color: var(--color-yellow);
  }

  &__input {
    @include tab-title;

    width: 100%;
    padding: 15px 16px 15px 56px;
    background-color: var(--monochrome-700);
    background-position: 20px;
    background-size: 20px 20px;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--monochrome-500);
    border-radius: 16px;

    &::placeholder {
      color: var(--monochrome-400);
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__results {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background: var(--monochrome-700);
    border-radius: 16px;
  }

  &__results-loader {
    @include flex-center;

    box-sizing: border-box;
    height: 56px;
    padding: 4px 16px;
  }

  &__results-container {
    @include flex-column;

    padding: 8px;
  }

  &__results-item {
    @include flex-center-vertical;
    @include tab-title;

    padding: 0 8px;
    border-radius: 8px;

    @media (hover: hover) {
      &:hover {
        background-color: var(--monochrome-600);
      }
    }
  }

  &__results-item-img {
    @include box(40px);
  }
}
