mixin p-card(data)
  .p-card
      .p-card__miniature
          span.p-card__miniature-id= data.id
          img.p-card__miniature-img(src= src.img + data.photo, alt=data.name)

      .p-card__row
        h3.p-card__title= data.name
        .p-card__types
          each type in data.types
            svg.p-card__type: use(href= src.icon + 'type-' + type)
      .p-card__features
        each feat in data.features
          .p-card__feature
            span.p-card__feature-icon
              svg.p-card__feature-icon-svg: use(href= src.icon + 'category-' + feat.name)
            span.p-card__feature-value= feat.value
