@use "sass:color";

:root {
  --body-color: var(--front-primary);
  --body-bg: var(--back-primary);
  --font-base: var(--font-sans);
  --font-sans: Mochiy, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-serif: Georgia, "Times New Roman", Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, "Courier New", monospace;
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;

  // Семантические цвета

  --front-primary: var(--monochrome-100);
  --back-primary: var(--monochrome-700);

  --color-red: #eb5757;
  --color-orange: #f2994a;
  --color-violet-200: #9b51e0;
  --color-blue-300: #2f80ed;
  --color-yellow: #f2c94c;

  --monochrome-100: #e8e9e9;
  --monochrome-200: #cdcecf;
  --monochrome-300: #9b9c9e;
  --monochrome-400: #686b6e;
  --monochrome-500: #363a3d;
  --monochrome-600: #1a1d21;
  --monochrome-700: #131619;
  --monochrome-700-transparent: rgba(19, 22, 25, 0.7);
  --monochrome-800: #0d0f10;
  --monochrome-900: #060708;

  // Оформление
  --max-container-width: 1488px;
  --mobile-header-height: 80px;
  --z-index-mobile-header: 2;
  --z-index-filter-menu: 3;
  --z-index-filter-btn: 3;
}
