@import "../../scss/mixins/blocks";
@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/text-styles";
@import "../../scss/breakpoints";
@import "../../scss/mixins/page-button.scss";

.filter {
  $block-name: &; // #{$block-name}__element

  --btn-shadow: 0 4px 16px 0 rgb(0 0 0 / 10%); // stylelint-disable-line
  --amount-border: 1px solid var(--monochrome-500); // stylelint-disable-line
  --amount-border-hover: 1px solid var(--monochrome-400); // stylelint-disable-line
  --amount-border-active: 1px solid var(--monochrome-300); // stylelint-disable-line

  position: fixed;
  z-index: var(--z-index-filter-menu);
  display: none;
  backdrop-filter: blur(4px);
  inset: 0;

  @media screen and (min-width: $screen-tl) {
    position: static;
    display: block;
    grid-area: filter;
    backdrop-filter: none;
  }

  &__inner {
    @include flex-column;

    gap: 4px;
    width: 280px;
    height: 100vh;
    padding: 8px 8px 80px;
    overflow-y: auto;
    background-color: var(--monochrome-600);

    @media screen and (min-width: $screen-tl) {
      gap: 16px;
      width: 354px;
      height: auto;
      padding: 0;
      background-color: unset;
    }
  }

  &__container {
    display: flex;
    padding: 8px;
    background-color: var(--monochrome-800);
    border-radius: 16px;

    &--page {
      align-items: center;
      justify-content: space-between;
      padding: 8px 8px 8px 16px;
    }

    &--type {
      flex-direction: column;
      gap: 2px;
    }
  }

  &__title {
    @include type-title;
  }

  &__items {
    display: flex;
    gap: 8px;

    @media screen and (min-width: $screen-tl) {
      gap: 9px;
    }
  }

  &__btn-amount {
    @include type-amount;

    min-width: 48px;
    margin-left: auto;
    padding: 7px;
    color: var(--monochrome-400);
    border: var(--amount-border);
    border-radius: 8px;
  }

  &__btn {
    display: flex;
    align-items: center;
    border-radius: 8px;

    &--page {
      @include pagination;
      @include page-button();

      justify-content: space-between;
      min-width: 32px;
      min-height: 32px;
      margin-left: auto;
      padding: 7px;

      @media (hover: hover) {
        &:hover {
          @include page-button-hover;
        }
      }
    }

    &--type {
      @include page-button-menu;

      padding: 5px 6px 5px 16px;

      @media (hover: hover) {
        &:hover {
          @include page-button-hover--tab;

          box-shadow: var(--btn-shadow);

          #{$block-name}__btn-amount {
            color: var(--monochrome-100);
            border: var(--amount-border-active);
          }
        }
      }
    }

    &--active {
      @include page-button-active;

      box-shadow: var(--btn-shadow);

      #{$block-name}__btn-amount {
        color: var(--monochrome-100);
        border: var(--amount-border-active);
      }
    }
  }

  &__btn-icon {
    @include box(24px);

    margin-right: 12px;
  }

  &__btn-value {
    @include type-title;
  }

  &.open {
    display: block;
  }
}
