@import "../../scss/mixins/blocks";
@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/text-styles";
@import "../../scss/breakpoints";

/* stylelint-disable */

.filter {
  position: fixed;
  z-index: var(--z-index-filter-menu);
  display: none;
  backdrop-filter: blur(4px);
  inset: 0;

  @media screen and (min-width: $screen-tl) {
    position: static;
    display: block;
    grid-area: filter;
    backdrop-filter: none;
  }

  &__inner {
    @include flex-column;

    gap: 4px;
    width: 280px;
    height: 100vh;
    padding: 8px 8px 80px;
    overflow-y: auto;
    background-color: var(--monochrome-600);

    @media screen and (min-width: $screen-tl) {
      gap: 16px;
      width: 354px;
      height: auto;
      padding: 0;
      background-color: unset;
    }
  }

  &__container {
    display: flex;
    padding: 8px;
    background-color: var(--monochrome-800);
    border-radius: 16px;

    &--page {
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      padding-left: 16px;
    }

    &--type {
      flex-direction: column;
      gap: 2px;
    }
  }

  &__title {
    @include type-title;
  }

  &__items {
    display: flex;
    gap: 8px;
    @media screen and (min-width: $screen-tl) {
      gap: 9px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    border-radius: 8px;

    &-amount {
      @include type-amount;

      min-width: 48px;
      margin-left: auto;
      padding: 7px;
      border: 1px solid var(--monochrome-500);
      border-radius: 8px;
      color: var(--monochrome-400);
    }

    &-page {
      @include pagination;
      justify-content: space-between;
      min-width: 32px;
      min-height: 32px;
      background: var(--monochrome-600);
      border-top: 1px solid var(--monochrome-500);

      margin-left: auto;
      padding: 7px 8px 8px;
      border-radius: 8px;

      @media screen and (min-width: $screen-tl) {
        padding: 7px 8px 8px;
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--monochrome-400);
          border-top: 1px solid var(--monochrome-300);
        }
      }
    }

    &-type {
      padding: 5px 6px 6px 16px;
      border-top: 1px solid var(--monochrome-800);

      @media (hover: hover) {
        &:hover {
          background-color: var(--monochrome-400);
          border-top: 1px solid var(--monochrome-300);
          box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
          .filter__btn-amount {
            border: 1px solid var(--monochrome-300);
            color: var(--monochrome-100);
          }
        }
      }
    }

    &--active {
      pointer-events: none;
      background-color: var(--monochrome-500);
      border-top: 1px solid var(--monochrome-400);
      box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);

      .filter__btn-amount {
        color: var(--monochrome-100);
        border: 1px solid var(--monochrome-400);
      }
    }

    &-icon {
      @include box(24px);

      margin-right: 12px;
    }

    &-value {
      @include type-title;
    }
  }

  &.open {
    display: block;
  }
}
