@import "../../scss/breakpoints";

.section-pokemon {
  $block-name: &; // #{$block-name}__element

  @media screen and (min-width: $screen-tl) {
    display: grid;
    grid-template: auto auto / 354px 1fr;
    grid-template-areas:
      "filter pokemons"
      "pagination pagination";
    gap: 48px 20px;
    justify-items: center;
  }

  &__wrapper {
    width: 100%;
    margin-bottom: 16px;

    @media screen and (min-width: $screen-ti) {
      grid-area: pokemons;
      margin-bottom: 0;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    background-color: var(--monochrome-800);
    border-radius: 16px;
  }

  &__item {
    width: calc(100% / 2 - 4px);

    @media screen and (min-width: $screen-txl) {
      width: calc(100% / 2 - 4px);
    }

    @media screen and (min-width: $screen-d) {
      width: calc(100% / 3 - 6px);
    }
  }
}
