.section-pokemon {
  $block-name: &; // #{$block-name}__element

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
    padding-top: var(--mobile-header-height);
  }
}
